# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java#publishing-using-gradle

name: Gradle Package

on:
  push:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Project/Src/iscte.saiiot2020.accelkart/

    steps:
    - uses: actions/checkout@v2
      
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Restore Cache
      uses: actions/cache@v2
      with:
        path: |
          ./.gradle/caches
          ./.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Build with Gradle
      run: ./gradlew build

    - uses: actions/upload-artifact@v2
      with:
        name: iscte.saiiot2020.accelkart
        path: ${{ github.workspace }}/Project/Src/iscte.saiiot2020.accelkart/app/build/distributions
