# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java#publishing-using-gradle

name: Publish AccelKartServer

on:
  push:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: List files
      run: ls ${{ github.workspace }}

    - name: Publish artifact
      uses: actions/upload-artifact@v2
      with:
        name: AccelKartServer
        path: ${{ github.workspace }}/Project/Src/AccelKartServer/
